h2
      {
         font-size: 15px;
         font-family: Arial;
         color: pink;
         text-align: center;
         background-color: indigo;
      }
h1
      {
         font-size: 20px;
         font-family: Calibri;
         color: #E0FFFF;
      }
h5
      {
         color: #778899;
      }
.zagl {
         font-family: "Lobster", sans-serif;
         font-weight: 400;
         font-style: normal;
}
.zagl th {
   font-size: 70px;
}
.text {
   font-size: 15px; 
} 

         
